body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    display: inline-block;
}

#player1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    color: aqua;
}

canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}